<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RedirectHTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
                </rule>
				<rule name="Redirect .php extension" stopProcessing="false">
					<match url="^(.*).php$" ignoreCase="true" />
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="(.*).php$" ignoreCase="false" />
					</conditions>
					<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="hide .php extension" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="{R:0}.php" />
				</rule>
            </rules>
        </rewrite>
	<httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="404.html" />
	    <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="401.html" />
	    <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="403.html" />
         </httpErrors>
    </system.webServer>
</configuration>